@charset "UTF-8";

.user-icon {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 1.5px solid #eee;
}

.list-user-icon {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 1.5px solid #eee;
}

.card-nickname{
    padding-top: 10pt;
}



