{% extends 'base.html' %}

{% block content %}


<div class="shadow p-3 mb-5 bg-light text-dark rounded" style="width: 100%;">
    
    <h4>アイディアを投稿</h4>

</div>
<h5>不満・困りごと</h5>
    <h6>{{ post.content }}</h6>
        {{ post.detail }}

 
    <form method="POST" class="post-form">{% csrf_token %}
        <p>
            <br>
            <br>
            <label for = "id_content"><h5>アイディア</h5></label>
            <textarea type="text" name= "content"   style="width:100%; height:20%;"  maxlength="140" required id ="id_content"></textarea>
    
        </p>
        <button type="submit" class="btn btn-primary">投稿</button>
    </form>
{% endblock %}